@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  background-color: black;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* DEFAULTS */

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--white);
}

header, footer {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

li {
  position: relative;
  padding: .75rem;
	list-style: none;
}

li a::after {
	border-bottom: 2px white solid;
	content: "";
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  width: 0;
  transition: .25s ease-in-out;
}

li a:hover::after {
	width: 50%;
  cursor: pointer;
}

/* Hero Section */

.hero {
  background: url("images/desktop/image-hero.jpg") 100% no-repeat;
  padding: 6rem 14rem 8.7rem;
  color: var(--white);
  position: relative;
  background-size: cover;
}

.hero h1 {
	font-size: 5.5vw;
	border: .2rem white solid;
	width: 47.7vw;
	text-transform: uppercase;
	padding: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  align-items: center;
}

#logo {
  font-size: 3.5rem;
}

nav {
	display: flex;
	justify-content: space-evenly;
	width: 40%;
  align-items: center;
  font-size: 1.4rem;
}

/* Main */
main {
  font-size: 1.5rem;
  padding: 12rem 14rem;
}

main p {
  color: var(--dark-gray);
}


/* ABOUT */

.about {
  position: relative;
  margin-bottom: 15rem;
}

.about section {
  position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--white);
	padding: 11rem 0 1rem 9rem;
	width: 48%;
}

.about img {
  width: 70%;
}

/*  SHOWCASE */

.showcase header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.showcase header button {
	height: 4.5rem;
	border: .1rem solid var(--black);
	background: none;
  transition: .25s ease-in;
}

.showcase header button a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
	color: var(--black);
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	padding: 2.25rem 4rem;
}

.showcase header button:hover {
  background-color: black;
} 

.showcase header button a:hover {
  color: var(--white);
}

.creations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creation-item {
  position: relative;
  margin: 0.8rem 0;
}

.creation-item .img-container {
  position: relative;
}

.creation-item .img-container::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: .5rem; 
  right: 0;
  box-shadow: inset 0px 0px 150px black;
  transition: box-shadow .15s ease-in;
}

.creation-item img {
  transition: opacity .25s ease-in;
}

.creations p {
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 17%;
  font-size: 3rem;
  color: var(--white);
  transition: color .25s ease-in;
}

.img-container:hover img,
.img-container:hover ~ p,
.img-container:hover::after,
.creations p:hover {
  cursor: pointer;
}

.img-container:hover img {
  opacity: 0.2
}

.img-container:hover ~ p {
  color: var(--black);
}

.img-container:hover::after {
  box-shadow: none;
}

/* FOOTER */

footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 14rem 3rem;
}

footer > * {
  width: 50%;
  padding-bottom: 2rem;
}

footer nav {
  font-size: 1.2rem;
  justify-content: space-between;
  width: 40%;
}

footer #logo {
  font-size: 2.5rem;
}

footer ul {
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
}

footer .copyright {
  color: var(--dark-gray);
  font-size: 1.2rem;
  text-align: right;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 3rem;
	height: .3rem;
	background-color: var(--white);
	margin: 6.5px;
	transition: all 0.4s ease;
}

@media all and (max-width: 1000px) {
  .hero #heading, .about img, .about section {
    width: 100%;
  }

  .about section {
    padding: 2rem;
    text-align: center;
    position: relative;
  }

  .creations {
    justify-content: space-evenly;
  }
}

@media all and (max-width: 768px) {
  .hero {
    padding: 5rem 9rem 8rem;
  }

  main {
    padding: 9rem 5rem;
  }

  footer {
    padding: 5rem;
  }
}

@media all and  (max-width: 670px) {
  .hero{
    padding-right: 2rem;
    padding-left: 2rem;
  }

  main {
    padding: 20rem 4rem 32rem;
  }

  .hero {
    background-image: url("images/mobile/image-hero.jpg");
  }

  h1#heading {
    font-size: 11.5vw;
    padding: 2rem;
    margin: 22rem auto;
  }

  header nav {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: black;
    width: 0;
    z-index: 1;
    justify-content: center;
    align-items: flex-start;
    transition: width 0.7s ease-in-out;
  }

  header nav li {
    padding: 1.15rem 2.5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
  }

  .burger {
    display: block;
    z-index: 2;
  }

  #logo {
    z-index: 2;
  }


  main .showcase {
    position: relative;
  }

  main .showcase h2 {
    margin: auto;
  }

  main .showcase button {
    position: absolute;
    bottom: 0;
  }

  .creation-item {
    width: 100%;
  }

  .creations .img-container {
    height: 24rem;
  }

  /* active state */
  .img-container:hover {
    opacity: 0.2;
  }

  .creations p {
    top: 51%;
    left: 7%;
    font-size: 4rem;
  }

  .creation-item .img-container::after {
    height: 24rem;
  }

  main .showcase button {
    bottom: -4.5%;
    left: ;
    translateX: -50%;
    transform: translateX(-50%);
    height: 6rem;
    padding: 0 3rem;
    margin-top: 5rem;
  }
  main .showcase button a{
    font-size: 2.5rem;
  }
}

.nav-active {
  width: 100%;
}

.clicked .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.clicked .line2 {
  opacity: 0;
}
.clicked .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
